@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    background-image: url("Fundo.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: in;
}

.formulario {
    top: 20%;
    left: 2%;
    position: absolute;
    color: whitesmoke;
    text-align: center;
}

form {
    max-width: 60%;
    background-color: rgba(36, 36, 36, 0.8);
    border-radius: 10px;
    padding: 20px;

}

input {
    border-radius: 5px;
    padding: 5px;
    width: 80%;
}

button {
    width: 100%;
    height: 3rem;
    background-color: #5d1280;
    color: white;
}

button:hover {
    background-color: #5d1280;
}

.mensagem-erro {
    border: 2px solid #ff0000; 
    background-color: #f5eeff; 
    color: #ff0000; 
    padding: 15px; 
    
}
